html body {
  margin: 0;
  background-image: url("../Pictures/Background.svg");
}
.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar h1 {
  font-size: 3dvi;
  color: rgb(255, 255, 255);
  margin-left: auto;
}

.button {
  margin-right: 1dvi;
  margin-left: auto;
}
